.CI__input {
  border-radius: 25px !important;
  border-width: 2px;
  display: block !important;
  width: 100% !important;
  max-width: 400px;
  margin: auto;
  margin-bottom: 10px !important;
  padding: 7px 15px;
}

.CI__button {
  display: block !important;
  width: 100% !important;
  max-width: 400px;
  margin: auto !important;
}

@media only screen and (min-width: 600px) {
  .CI__input {
    margin-bottom: 10px !important;
  }
}

@media only screen and (min-width: 992px) {
  .CI_input-container {
    display: flex;
    width: 60% !important;
  }

  .CI__input {
    max-width: 75% !important;
    margin: auto !important;
  }

  .CI__button {
    max-width: 20% !important;
  }

  .CI_input-label {
    position: relative;
    right: 10%;
  }
}
