.check-icon-container {
  width: 10%;
  cursor: pointer;
}

.check-completed {
  color: lightgreen;
}

.check-not-completed {
  color: lightgrey;
}

.description-container {
  width: 80%;
}

.description-completed {
  text-decoration: line-through;
}

.description-not-completed {
  text-decoration: none;
}

.remove-icon-container {
  width: 10%;
  cursor: pointer;
}

.remove {
  color: lightcoral;
}
