.TStats {
  /* border: 1px solid red; */
  margin: auto;

  /* height: 150px; */
  /* display: flex;
  justify-content: space-between; */
}

.TStats__stats-container {
  display: block;
  border-radius: 25px;
  border: 2px solid black;
  padding: 5px;
  max-width: 300px;
  max-height: 300px;
  margin: auto;
  margin-bottom: 10px;
}

.TStats_text-container {
  min-height: 50px;
  line-height: 3rem;
  font-size: 1.1rem;
}

.TStats_num-container {
  font-size: 5rem;
}

.TStats-percentage {
  position: relative;
  left: 32.5px;
}

@media only screen and (min-width: 992px) {
  .TStats {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
  }

  .TStats__stats-container {
    margin: 0;
    padding: 15px;
  }
}
