.DailiesList__input {
  border-radius: 25px !important;
  border-width: 2px;
  padding: 7px 15px;
}

ul {
  padding: 0;
}

li {
  display: flex !important;
}

.check-icon-container {
  width: 10%;
  cursor: pointer;
}

.fa-circle-check {
  font-size: 25px;
}

.check-completed {
  color: lightgreen;
}

.check-not-completed {
  color: lightgrey;
}

.description-completed {
  text-decoration: line-through;
}

.description-not-completed {
  text-decoration: none;
}

.description-container {
  width: 80%;
}

.streak-icon-container,
.remove-icon-container {
  width: 10%;
  cursor: pointer;
}

.streak,
.remove {
  color: lightcoral;
}

.streak {
  margin-right: 5px;
}
